@import "tailwindcss";
@import "react-tooltip/dist/react-tooltip.css";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1e1e1e;
    --foreground-primary: #1e1e1e;
    --foreground-secondary: #858585;
    --primary: #10639d;
  }

  .dark {
    --background: #1e1e1e;
    --foreground: #ffffff;
    --foreground-primary: #ffffff;
    --foreground-secondary: #cccccc;
    --foreground-tertiary: #aeaeaf;
    --foreground-quaternary: #969696;

    --primary: #10639d;

    /* Side panel */
    --panel-bg: #333333;
    --panel-highlight: #ffffff;
    --panel-inactive: #858585;

    /* Side panel content */
    --panel-content-bg: #252526;
    --panel-content-header: #bbbbbb;

    /* Tooltip */
    --tooltip-bg: #252526;
    --tooltip-fg: #ffffff;
    --tooltip-border: #555555;

    /* Navigation */
    --navigation-bg: #252526;
    --navigation-tab-inactive-bg: #2d2d2d;

    --navigation-file-active-bg: #37373c;
    --close-button-hover-bg: #434343;
    --navigation-file-hover-bg: #2f2f30;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-tertiary: var(--foreground-tertiary);
  --color-foreground-quaternary: var(--foreground-quaternary);

  --color-primary: var(--primary);

  /* Side panel */
  --color-panel-bg: var(--panel-bg);
  --color-panel-highlight: var(--panel-highlight);
  --color-panel-inactive: var(--panel-inactive);

  /* Side panel content */
  --color-panel-content-bg: var(--panel-content-bg);
  --color-panel-content-header: var(--panel-content-header);

  --color-tooltip-bg: var(--tooltip-bg);
  --color-tooltip-fg: var(--tooltip-fg);
  --color-tooltip-border: var(--tooltip-border);

  /* Navigation */
  --color-navigation-bg: var(--navigation-bg);
  --color-navigation-tab-inactive-bg: var(--navigation-tab-inactive-bg);
  --color-close-button-hover-bg: var(--close-button-hover-bg);

  --color-navigation-file-active-bg: var(--navigation-file-active-bg);
  --color-navigation-file-hover-bg: var(--navigation-file-hover-bg);
}

body {
  margin: 0;
  background: hsl(var(--color-background));
  color: hsl(var(--color-foreground-primary));
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu",
    "Droid Sans", "Helvetica Neue", sans-serif;
  opacity: 1;
}
